@font-face {
  src: url(Fonts/didot-htf-l11-light.ttf);
  font-family: didot;
}

@media only screen and (max-width: 600px) {
  body {
    width: 640px;
  }
}


/* @viewport {
  width: device-width ;
  min-zoom: 640px;
} */

/* parent of title navbar and footer full screen*/
body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 640px;
  background-color: white;
}

/* title and slogan */
#titlehead{
  height: 200px;
  width: 100%;
  background-image: url("img/marble-high-res.png");
  background-size: cover;
}

/* font styling for logo */
h1{
  font-family: didot;
  margin-left: 10px;
  font-size: 65px;
  padding: 0;
  margin-top: 20px;
  font-weight: lighter;
  letter-spacing: -3px;
  margin-bottom: 0;
}

/* font styling for slogan */
h2{
  font-family: didot;
  margin-left: 15px;
  padding: 0;
  margin-top: -5px;
  font-weight: bold;
  color: #555;
}

h4{
  text-align: center;
  font-family: didot;
  font-size: xx-large;
  font-weight: lighter;
}

h5{
  font-family: didot;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  color: #555;
}

p{
  padding: 0;
  margin: 0;
  font-size: small;
  text-decoration: none;
  color: white;
}

p2{
  font-size: small;
  font-family: didot;
}

.bygab{
  color: rgb(221, 166, 175);
  font-style: italic;
  font-size: 60px;
}

a{
  text-decoration: none;
  color: white;
  /* display: block; */
}

/* unordered list style for navbar elements */
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

/* elements in nav bar stays on left */
li{
  float: left;
  height: 55px;
}

/* last element in nav bar stays on right */
li:nth-last-child(1){
  float: right;
  padding: 0;
  width: 120px;
  margin-top: 2px;
  margin-right: -25px;
}

/*formatting for view cart button in nav bar*/
.cart{
  width:68px;
}

/* nav element container */
li a {
  width: 80px;
  display: block;
  color: white;
  text-decoration: none;
  /* text-align: center; */
  padding: 15px 16px;
  font-family: 'Antic Didone', serif;
  text-align: center;
  font-weight: 300;
  /* font-size: large; */
  font-size: 130%;
}

/* hover for nav element */
li a:hover {
  background-color: rgb(221, 166, 175);
}

/* indicates current page on nav bar */
.active1 {
  background-color: rgb(221, 166, 175);
}

/* content area */
main{
  width: 100%;
  max-width: 960px;
  min-width: 640px;
  margin-top: 10px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

/* bottom fixed footer */
#footer{
  position: fixed;
  bottom: 0px;
  padding: 12px;
  padding-left: 0;
  text-align: center;
  background-color: black;
  width: 100%;
  min-width: 640px;
}

/* container for entire grid */
ul2{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/*general container for grid items*/
li2{
  list-style-type: none;
  margin: 15px;
  padding: 5px;
  width: 270px;
  text-align: center;
  height: 350px;
}

/* Slideshow container */
.slideshow-container {
  width: 90%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  /* top: 50%; */
  bottom: 5px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.315);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

i{
    font-size: 70%;
    font-style: bold;
}

.active, .dot:hover {
  background-color: #7171717c;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.item-description{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-family: didot;
  font-size: 17px;
  font-weight: bold;
}

.item-type{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 22px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: didot;
  font-weight: bold;
}

 .sizedrop{
   float: left;
   padding: 0;
   margin: 0;
 }

 .addtocartbuttonimage{
   float: right;
   width: 60%;
   margin-top: 8px;
   height: 47px;
 }

 .price{
   float: left;
   margin-left: 2px;
   font-size: 22px;
   font-family: 'Lato', sans-serif;
   font-weight: lighter;
   text-align: left;
 }

 .soldout{
   color: red;
   font-size: 16px;
   padding: 3px;
 }

 #abouttitle{
   padding-top: 35px;
   padding-bottom: 35px;;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   font-family: didot;
   font-size: large;
   font-weight: 600;
   max-width: 640px;
   /* color: rgb(221, 166, 175); */
   color: #555;
 }

 #aboutbody{
  padding : 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: didot;
  font-size: large;
  color: #555;
 }

 #about{
   /* max-width: 640px; */
   margin-right: auto;
   margin-left: auto;
 }

.invisible{
  display: none;
}

#pixlee_container{
  height: 10px;
  background-color: white;
  width: 100%;
}

.yeet{
  margin-bottom: -12px;
}

#redbox{
  width: 62%;
  margin-left: auto;
  margin-right: auto;
  /* float: left; */
  /* background-color: red; */
}

#greenbox{
  margin-top: 40px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  /* float: right;
  margin-right: 10px; */
  /* background-color: green; */
  margin-bottom: 20px;
}

#prodpageimg{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

hr.thin {
  height: 2px;
  border: 0;
  color: #333;
  background-color: #333;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  }

.prodmetatext{
  color: black;
  font-size: 18px;
  padding: 5px;
  padding-left: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#prodpagedesc{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#prodname{
  font-size: 24px;
  margin-bottom: 4px;
}

#prodprice{
  font-size: 26px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  text-align: left;
}

#prodcolor{
  font-size: 20px;
}

#colorselect{
  margin-bottom: 30px;
}

.colorbox{
  margin:10px;
  margin-left: 2px;
  padding:0;
  height: 30px;
  width: 30px;
  float: left;
  display: block;
  margin-bottom: 24px;
}

#prodmeta{
  background-color: white;
}

#sizeandcart{
  background-color: white;
}

#selectsize{
  width: 40%;
  float: left;
}

#addtocart2{
  background-color: white;
}

.addtocartimg{
  width: 220px;
  float: right;
}

.originalprice{
  text-decoration: line-through;
  font-size: 16px;
  color: red;
}

.selectsizetext{
  font-size: 32px;
}

#dreamypinkbox{
  background-color: pink;
}

#pearlgreybox{
  background-color: grey;
}

#fuchsiapinkbox{
  background-color: palevioletred;
}

#cloudbluebox{
  background-color: rgb(79, 186, 221);
}

#bluebox{
  background-color: cyan;
}

#dreamypinkbox:hover,#pearlgreybox:hover,#fuchsiapinkbox:hover,#cloudbluebox:hover,#bluebox:hover{
  opacity: 0.4;
}

.homeprice{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}




















.homepagehead{
  font-family: didot;
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: -2px;
  color: black;
}

.homepagesubhead{
  font-size: 24px;
  font-family: didot;
  color: black;
}

#homeinfo1{
  background-color: aquamarine;
  margin-left: 220px;
}

#homeinfo2{
  background-color: aquamarine;
  margin-right: 220px;
}

#triple{
  text-align: left;
  margin-top: 20px;

  background-color: rgb(221, 166, 175);
}

#double{
  text-align: right;
  margin-top: 30px;
  background-color: rgb(221, 166, 175);
}

#allproducts{
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: rgb(221, 166, 175);
}

.homepagesection{
  height: 200px;
  border-radius: 10px;
  padding: 25px;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

/* #triple:hover,#double:hover,#allproducts:hover{
  background-color: rgb(155, 155, 155);
} */

/* .homepagesection:hover{
  background-color: grey ;
} */

#tripleimg{
  width: 200px;
  float: left;
  border-radius: 15px;
}

#tripleimgright{
  width: 200px;
  float: right;
  border-radius: 10px;
}

.test3{
  color: black;
  font-size: 49px;
  font-family: didot;
}

.test4{
  color: black;
  font-size: 23px;
  font-family: didot;
}
